* {
    margin: 0px;
    padding: 0px;
    /*border: 1px solid blue;*/
}
header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}
#header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color:white;
    font-weight: bold;
    color: white;
}
#header-logo {
    z-index: 2;
    font-family: 'Acme', serif;
    font-size: 30px; color: red;
}

#nav-menu {
    display: flex;
    font-family: 'Rubik', sans-serif;
    justify-content: space-around;
    min-width: 50%;  color: black;
}
#nav-menu li {
    list-style: none; color: black;
}
#nav-menu li a {
    font-family: 'Acme', serif;
    color: black;;
    text-decoration: none;
    font-size: 14px;
}
#nav-menu li a.color-gray {
    color: darkgray;
}
#nav-menu li a:hover {
    color: chartreuse;
}
/* Burguer */
.burger {
    cursor: pointer;
    display: none;
}
.burger div {
    width: 22px;
    height: 3px;
    background-color: white;
    margin: 4px;
    border-radius: 1px;
}

/* Main */
main {

}
.container {
    left: 1%;
    background-color: white;
    display: flex;
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 80px;

}
.main-mensaje {

    z-index: 1;
    margin: 30px;
    max-width: 500px;
    font-family: 'Inter', serif;
}
.main-mensaje p {
    z-index: 1;
    margin: 5px;
    font-size:50px;
    text-align: left;
    font-weight: bold;
}
.main-mensaje p1{
    z-index: 1;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

/* responsive Web */
@media screen and (max-width: 990px) {
    #header-nav {
        background-color: black;
        height: 54px;
    }
    #header-logo {
        font-size: 16px;
    }
    #nav-menu {
        display: none;
    }
    .burger {
        display: block;
    }
    .main-mensaje h1 {
        font-size: 40px;
    }
    .main-mensaje p {
        font-size: 14px;
    }
}
#piechart{
    position: absolute;
    z-index: 1;
    top: 900px;
    width: 700px;
    height: 350px;
}
#flecha{
    position: fixed;
    justify-content: space-around;
    z-index: 1;
   left: 6%;
    width: 250px;
    height: 80px;
}
#fondo{
    position: fixed;
    right: 5px;
    z-index: 0;

}

